# Archivos y carpetas de entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.virtualenv/

# Cachés de Python
__pycache__/
*.py[cod]

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Archivos de entrenamiento y modelos pesados
*.h5
*.hdf5
*.ckpt
*.pb

# Logs y resultados derivados
logs/
*.csv

# Configuraciones locales
*.env
